@{
    ViewBag.Title = "Bindings";
}

<h2>Binding</h2>

<div data-bind="text: plainText"></div>

<div>
    <select data-bind="options: availableCompanies, optionsText: 'name', value: selectedCompany, optionsCaption: 'Choose...'"></select>
</div>

<div data-bind="visible: selectedCompany()">
    Select your job position
</div>

@section scripts
{
    <script src="/Areas/Knockout/Scripts/bindings.js"></script>
}
